

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cart-inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.cart-inner-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cart-inner-left img {
    width: 75px;
    height: 75px;
    border: 2px solid var(--app-theme);
    box-shadow: var(--app-card-shadow);
}

.cart-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
}

.cart-container svg {
    cursor: pointer;
}

.cart-clear-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 13rem;
    gap: 20px;
}