

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cart-inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.cart-inner-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.cart-inner-left img {
    width: 75px;
    height: 75px;
    border: 2px solid var(--app-theme);
    box-shadow: var(--app-card-shadow);
}

.cart-inner-left section {
    display: none;
}

.cart-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
}

.cart-container svg {
    cursor: pointer;
}

.cart-clear-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    position: absolute;
    bottom: -9rem;
    gap: 05px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}




@media (min-width: 768px) {

    .cart-inner-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .cart-inner-left section {
        display: block;
    }

    .cart-clear-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: row;
        bottom: -12rem;
        gap: 20px;
        margin: auto;
        padding: 0px;
    }
}