

/* roboto font from google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* defining custom css variables that will be used across the app */
:root {
    --app-theme: rgba(255, 255, 255, 1);
    --app-primary: rgba(37, 43, 66, 1);
    --app-secondary: rgba(35, 133, 109, 1);
    --app-gray: rgba(115, 115, 115, 1);
    --app-light-blue: rgba(35, 166, 240, 1);
    --app-gray-light: rgba(189, 189, 189, 1);
    --app-gray-light-sec: rgb(250, 250, 250);
    --app-warning: rgb(231, 64, 64);
    --app-success: rgba(45, 192, 113, 1);
    --app-pending: rgba(243, 205, 3, 1);
    --app-family: 'Montserrat', sans-serif;
    --app-border: rgba(236, 236, 236, 1);
    --app-card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --app-alert-bg: rgba(231, 124, 64, 1);

}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--app-family);
}


/* defining the app mobile padding */
.app_padding {
    padding-left: 33px;
    padding-right: 33px;
}


/* defining the app web container width on mobile */
.app_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-bg {
    background: var(--app-theme);
  }


.tag-line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--app-primary) !important;
  width: 100%;
  border-bottom: 2px solid var(--app-border);
  margin-bottom: 24px !important;
  padding-bottom: 24px;
  margin: auto;
}

.bordered {
  border-top: 2px solid var(--app-border);
  padding-top: 24px;
}


  /* loading spinner keyframe animation and spin variable */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spin {
  animation: spin 1s linear infinite;
}

  
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.no-data img {
  width: 200px;
  height: 200px;
}


.brand-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: auto;
  gap: 20px;
  padding: 10px 0;
} 

  /* media responsiveness across devices  */
  @media (min-width: 480px) {
    .app_container {
      width: 100%;
    }
  }
  
  
  
  @media (min-width: 640px) {
  
    .app_container {
      max-width: 640px;
    }
  }
  
  
  @media (min-width: 768px) {
    .app_container {
      max-width: 768px;
    }
  }
  
  
  @media (min-width: 992px) {
    .app_container {
      max-width: 992px;
    }
    
    .app__container {
        padding-left: 70px;
        padding-right: 70px;
    }
  }
  
  
  @media (min-width: 1024px) {
    .app_container {
      max-width: 1024px;
    }
  }
  
  
  @media (min-width: 1280px) {
    .app_container {
      max-width: 1146px;
    }

    .tag-line {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      font-weight: 700 !important;
      font-size: 24px !important;
      line-height: 32px;
      letter-spacing: 0.2px;
      color: var(--app-primary) !important;
      width: 1042px;
      border-bottom: 2px solid var(--app-border);
      margin-bottom: 24px !important;
      padding-bottom: 24px;
      margin: auto;
    }
  }