

.single-product-container {
    width: 100%;
    height: 100%;
}


.single-prd-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 277px;
}

.single-prd-left img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.single-prd-right {
    max-width: 510px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 11px 24px 0px 0;
}

.single-name  {
    color: var(--app-primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.single-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 0 20px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--app-gray);
}

.single-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--app-primary);
    padding-bottom: 5px;
    letter-spacing: 0.2px;
}

.single-price span {
    text-decoration: line-through;
    color: var(--app-gray);
}

.single-stock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--app-gray);
    letter-spacing: 0.2px;
    gap: 5px;
    padding-bottom: 24px;
}

.single-stock span {
    color: var(--app-light-blue);
}

.single-colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 29px;
    padding-bottom: 67px;
    border-top: 2px solid var(--app-border);
    width: 100%;
}

.single-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.single-breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--app-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.single-breadcrumbs span {
    color: var(--app-gray);
}


.single-prod-review-container {
    display: none;
}

.single-prod-images {
    display: none;
}





@media(min-width: 1024px) {

.single-product-container {
    max-width: 1050px;
    max-height: 550px;
}

.single-prd-left {
    max-width: 506px;
    height: 450px;
}

.single-prd-left img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-prd-right {
    max-width: 510px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 11px 24px 0px 0;
}

.single-name  {
    color: var(--app-primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.single-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 0 20px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--app-gray);
}

.single-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--app-primary);
    padding-bottom: 5px;
    letter-spacing: 0.2px;
}

.single-stock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--app-gray);
    letter-spacing: 0.2px;
    gap: 5px;
    padding-bottom: 24px;
}

.single-stock span {
    color: var(--app-light-blue);
}

.single-desc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--app-gray);
    letter-spacing: 0.2px;
    height: 119px;
}

.single-colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 29px;
    padding-bottom: 67px;
    border-top: 2px solid var(--app-border);
    width: 100%;
}

.single-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.single-breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--app-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.single-breadcrumbs span {
    color: var(--app-gray);
}

.single-prod-images {
    display: block;
    width: 30rem;
    padding-top: 21px;
}

.single-prod-images img {
    width: 100px;
    height: 75px;
    border: 2px solid var(--app-theme);
    box-shadow: var(--app-card-shadow);
}

.single-prod-review-container {
    display: block;
    padding-top: 48px;
    background: var(--app-theme);
    margin-top: 48px;
    padding-bottom: 48px;
}

.prod-review-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--app-border) ;
    padding-bottom: 24px;
    margin-bottom: 22px;
    gap: 48px;
}

.prod-review-tab .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--app-gray);
}


.prod-review-container {
    height: 496px;
}

.prod-review-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 86px 90px 0;
}

.prod-review-left .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: var(--app-primary);
    padding-bottom: 30px;
}

.prod-review-left .desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--app-gray);
    padding-bottom: 30px;
}

.prod-review-left .desc-border {
    border-left: 2px solid var(--app-secondary)
}

.prod-review-left .desc:nth-child(1) {
    padding-bottom: 0px;
    margin-left: 10px;
}

.prod-review-left .desc:nth-child(4) {
    padding-top: 30px;
}

.prod-review-right {
    width: 427px;
    height: 392px;
}

.prod-review-right {
    width: 100%;
    height: 100%;
}


}
